@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

body {
  background: #ECECEC;
  font-size: 14px;
}

.dropzone {
  display: inline-block;
  padding: 10px;
  max-width: 300px;
  border: 1px dotted #ccc;
}

.filename {
  margin-left: 15px;
}

.app {

}

.highlighted {
  color: red;
}

.input-error {
  border: 1px solid red;
}

.header {
  height: 40px;
  background: #346BBC;
}

.card {
  background: white;
  max-width: 960px;
  margin: 15px auto;
  padding: 20px 20px 200px 20px;
}

h1 {
  font-size: 20px;
  margin-bottom: 15px;
  text-transform: uppercase;
  color: #346BBC;
}

label {
  font-size: 12px;
  margin: 10px 0;
  text-transform: uppercase;
  color: #ccc;
}

input {
  width: 300px;
  padding: 10px;
}

.form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}

thead {
  background: red;
}

th,
td {
  padding: 8px;
  border: 1px solid #ccc;
}

th {
  background: #eee;
}

.table-container {
  margin-top: 20px;
}

.borderless td {
  border: 0;
  text-align: left;
}

.borderless th {
  border: 0;
  text-align: left;
}
.borderless {
  border: 1px solid #ccc;
}

.autocomplete-item {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  opacity: 1;
}

.autocomplete-menu {
  border-radius: 3px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.9);
  padding: 2px 0;
  font-size: 90%;
  position: absolute;
  width: 100%;
  overflow: auto;
  z-index: 2;
}

.autocomplete-wrapper {
  display: inline-block;
  position: relative;
}

.button-container {
  margin-top: 15px;
}

.button {
  padding: 10px 30px;
}

.dropzone-container {
  display: flex;
  align-items: center;
}

.filename {
  margin-left: 15px;
}